# Gitignore for IMT2531_assignment1 - Project Pacman
build/

# Ignore VS Code preferences
.vscode/

# QtCreator IDE specific file - no need to replicate
CMakeLists.txt.user

# Latex ignores
presentation/*.aux
presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.snm
presentation/*.toc
presentation/*.synctex.gz
presentation/*.pdf
